/* layout.css */
html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: white;
  min-height: 100%;
  margin: 0%;
}

div {
  border: 2px solid #333; /* Todo 리스트와 툴바의 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
  min-width: 800px;
  overflow: hidden; /* 자식 요소가 부모를 벗어나지 않게 함 */
  box-sizing: border-box; /* 테두리 및 패딩 포함하여 크기 계산 */
}

.content {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1800px;
  margin-top: 20px;
  justify-content: center;
  min-height: 1000px;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid #333; /* Todo 리스트와 툴바의 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
  padding: 10px; /* 패딩을 추가하여 경계선과 콘텐츠 간 여백 */
  margin: 10px;
  box-sizing: border-box; /* 자식의 padding, border가 크기에 포함되도록 */
}

.center-panel.closed {
  transform: translateX(-100%);
}

.right-panel {
  width: 50%;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ddd; /* 우측 패널에 테두리 */
  padding: 10px;
  box-sizing: border-box; /* 자식의 padding, border가 크기에 포함되도록 */
}

.right-panel.open {
  transform: translateX(0%);
  opacity: 1;
}

h1 {
  margin-bottom: 20px;
}
